name: Build master

on: 
    push:
        branches: ['master']
jobs:
    deps:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v1
        - name: install deps
          run: |
              sudo apt install raylib
    build:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v1
        - name: Build
          env:
            CC: clang
          run: make

