name: Build master

on: 
    push:
        branches: ['master']
strategy:
  matrix:
    compiler: [gcc, clang]
jobs:
    deps:
        runs-op: ubuntu-latest
        steps:
        - uses: actions/checkout@v1
        - name: install deps
          run: |
              apt install raylib
    build:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v1
        - name: Build
            env:
                CC: ${{ matrix.compiler }}
            run:  --your-args-here

